body {
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* BUTTONS */
.btn-default {
    background: #f1f1f1;
    border: 1px solid #dfdfdf;
}

.btn-primary,
.btn-primary:hover {
    background: #b07946;
    border: 1px solid #b07946;
    color: #fff;
}

.btn-secondary,
.btn-secondary {
    background: #556b2f;
    border: 1px solid #556b2f;
    color: #fff;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

/* ===================== */
/* Breadcrumb */
/* ===================== */
.breadcrumb-bar {
    background: #ffffff;
    border-bottom: 1px solid #efefef;
    margin: 0px 0;
}

ul.breadcrumb {
    list-style: none;
    background-color: #ffffff;
    margin: 0;
    padding: 17px 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 13px;
    color: #b5b5b5;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: #202435;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #868686;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.img-responsive {
    width: 100%;
}

.navbar {
    background: #363636 !important;
    padding: 0 !important;
    /* border-bottom: 3px solid #484848; */
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand {
    font-weight: bold;
    color: #151618;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

.navbar-nav li {
    border-left: 1px solid #878787;
}

.nav-link {
    color: #ffffff;
    padding: 11px 10px !important;
    font-size: 14px;
}

.nav-link i {
    color: #ff9017;
}

.carousel {
    border-bottom: 3px solid #4f1e0a;
}

.carousel-caption {
    position: absolute;
    right: 18%;
    bottom: 29%;
    left: 8%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: #ffffff;
    color: #363636;
    width: 400px;
    padding: 0;
    text-align: left;
    padding: 10px 20px;
}

.carousel-caption h3 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    color: #151618;
    font-family: "Josefin Slab";
}

.carousel-caption span {
    font-weight: bold;
    color: #b07946;
    font-style: italic;
    font-family: "Josefin Sans";
}

/* ===================== */
/* Middle Header */
/* ===================== */
.middle-header {
    padding: 0;
    background: #fdfdfd;
    border-bottom: 3px solid #b07946;
}

.middle-header-social-icon {
    float: right;
    margin-top: 0;
}

.middle-header-social-icon li {
    display: inline-block;
    margin: 0 8px;
}

.middle-header-social-icon li a {
}

.middle-header-social-icon li a i {
    color: #e8e8e8;
    font-size: 13px;
}

.middle-header-information {
    float: left;
    margin-top: 0;
    padding-top: 8px;
}

.middle-header-information li {
    display: inline-block;
    line-height: 2px;
    vertical-align: middle;
    padding: 0 6px;
}

.middle-header-information li a {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    font-family: "Mukta", sans-serif;
    margin-right: 6px;
}

.middle-header-information li a small {
    display: block;
    margin-left: 48px;
    font-weight: normal;
}

.middle-header-information li a.btn {
    background: #1476f2;
    border-color: #1476f2;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    padding: 10px 40px;
    text-transform: uppercase;
}

.middle-header-information li a.btn i {
    background: none;
    height: auto;
}

.middle-header-information li a i {
    color: #e8e8e8;
    margin-right: 8px;
    vertical-align: middle;
}

.middle-header-social-icon ul {
    padding: 0;
    margin: 0;
}

.middle-header-information ul {
    padding: 0;
    margin: 0;
}

.cart {
    position: relative;
    margin: 0;
}

.top-right-section {
}

.cart li {
    display: inline-block;
    margin: 0 -3px;
    font-size: 14px;
}

.cart li {
    color: #939393;
}

.cart li a {
    padding: 0 11px;
}

.cart .badge {
    background: #556b2f;
    color: #fff;
    position: absolute;
    right: 8px;
    top: 6px;
    border-radius: 50%;
    font-size: 11px;
}

.login-dropdown {
    display: inline-block;
}

.cart li a {
    position: relative;
    display: inline-block;
    border-left: 1px solid #efefef;
    cursor: pointer;
    line-height: 55px;
    color: #151618;
}

.cart li a i {
    width: 35px;
    height: 30px;
    border: 1px solid #f1f1f1;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    background: #f1f1f1;
    padding: 5px;
}

.register {
    background: #b07946;
    font-weight: bold;
    border: none;
}

.register a {
    color: #fff !important;
    padding: 0 18px !important;
}

.register a i {
    color: #ffffff !important;
    position: absolute;
    right: 11px;
    top: 35%;
    font-size: 15px;
    background: transparent !important;
    border: none !important;
    width: auto !important;
    height: auto !important;
    line-height: 2 !important;
    font-size: 10px;
    padding: 0 !important;
}

.register .dropdown-item {
    color: #484848 !important;
    border-bottom: 1px solid #d7d7d7;
    padding: 3px 12px !important;
    line-height: 30px;
    font-size: 14px;
}

.register .dropdown-item:last-child {
    border: none;
}

/* ===================== */
/********* TITLE *********/
/* ===================== */

.content-heading h3.title {
    display: inline-block;
    position: relative;
    color: #151618;
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    /* font-family: 'Josefin Slab'; */
    font-weight: 700;
}

.content-heading h3.title:before,
.content-heading h3.title:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #151618;
    top: 48%;
}

.content-heading h3.title:before {
    left: -21px;
    width: 10px;
    display: none;
}

.content-heading h3.title:after {
    right: -75px;
}

.category {
    padding: 60px 0;
    background: #fffcf7;
}

.category-item {
    background: #fff;
    box-shadow: 0 2px 3px #dfdfe5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 8px;
    margin-bottom: 1.2rem;
}

.category-item a:hover {
    text-decoration: none;
}

.category-item a:hover h3 {
    text-decoration: none;
    color: #b07946;
}

.category-item a:hover .ti-heart {
    color: #fff;
    background: #556b2f;
}

.content {
    padding: 16px;
}

.content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #151618;
}

.content p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #7d7d7d;
    min-height: 42px;
}

.image {
    position: relative;
    max-height: 170px;
    overflow: hidden;
}

.image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.image .ti-heart {
    width: 40px;
    height: 40px;
    background: #151618a1;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #ffffffb8;
}

.image span {
    position: absolute;
    top: 8px;
    z-index: 1;
    left: 6px;
    background: #e7e7e7eb;
    padding: 5px 10px;
    border-radius: 300px;
    color: black;
    font-size: 14px;
}

.ratings i {
    color: #c3c3c3;
    margin-right: 4px;
}

i.selected {
    color: #556b2f;
}

.ratings span {
    color: #7d7d7d;
    font-size: 14px;
}

.ratings {
    border-top: 1px solid #eee;
    padding: 12px;
    background: white;
}

.banner-inner {
    background: url("../../assets/images/inner-banner.jpg") no-repeat, #090a0c;
    background-size: cover;
    position: relative;
    padding: 80px 0;
    background-position: center center;
}

.banner-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #03020196;
}

.banner-inner .container {
    position: relative;
}

.banner-content {
}

.banner-content h2 {
    display: block;
    width: 100%;
    font-size: 35px;
    color: #fff;
    font-weight: revert;
    margin-bottom: 15px;
}

.banner-content p {
    display: block;
    width: 100%;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
}

.banner-content p i {
    /* color: #b07946; */
    margin-right: 5px;
}

.vendor-actions div {
    display: flex;
}

.vendor-actions {
    border: 1px solid #7d7d7d;
    padding: 6px 20px;
    display: block;
    margin: 20px auto 0;
    font-size: 15px;
    background: #ffffff;
    width: 50%;
}

.vendor-actions i {
    color: #c0c0c0;
    margin-right: 8px;
}

.vendor-actions i.selected {
    color: #dd9a5c;
}

.vendor-actions {
    color: #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 24px;
    padding: 9px 20px;
}

.vendor-actions span {
    color: #555;
}

.vendor-actions a {
    margin: 0 10px;
    padding: 0 15px;
    border-left: 1px solid #6f6f6fc2;
    border-right: 1px solid #6f6f6fc2;
    color: #555;
}

/*  */
.product-item p {
    min-height: auto;
}

a.shop-btn {
    border: 1px;
    border-bottom: 2px solid #415321;
    display: block;
    text-align: center;
    padding: 5px 20px;
    border-radius: 300px;
    background: #556b2f;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
}

.price-and-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  */
/* ORDERED PRODUCT LISTS */
/*  */

.ordered-food-item {
    background: #fcfcfc;
    padding: 70px 0;
}

.ordered-food-item .table > thead > tr > th {
    padding-bottom: 15px;
    font-weight: bold;
    padding-top: 20px;
    border-bottom: none;
}

.ordered-food-item .table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    background: #fff;
    font-size: 14px;
}

.item-quantity .control-btn {
    margin: 0;
}

a.remove-item {
    font-weight: bold;
    color: #666666;
    font-size: 22px;
    width: 35px !important;
    height: 35px;
    display: block;
    border-radius: 50%;
    border: 1px solid #fafafa;
    background: #ffffff;
}

.remove-item:hover,
.remove-item:active {
    color: #ffffff;
    width: 35px !important;
    height: 35px;
    background: #666666;
}

td.item-remove {
    text-align: center;
    /* width: 100px; */
    /* height: 100px; */
    /* background: red; */
}

.cart-totals-title h3 {
    font-size: 16px;
    font-weight: bold;
}

.row.cart-totals {
}

.row.cart-totals-row {
    margin: -1px 0;
    border: 1px solid #ddd;
    padding: 11px 0;
    background: #fff;
}

.cart-totals-title h4 {
    font-size: 15px;
    font-weight: bold;
}

.cart-totals-title {
}

.cart-totals-result h4 {
    font-size: 14px;
}

.cart-totals-result .btn {
    display: block;
    padding: 11px;
    margin-bottom: 8px;
}

h4.final-pay {
    color: darkolivegreen !important;
}

.col-md-4.payment-final {
    padding: 0 50px;
}

.coupen-card {
    border: 1px solid #f4f4f4;
    padding: 20px;
    background: #fdfdfd;
}

.cart-totals-result .btn-primary {
    text-transform: uppercase;
    display: block;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

a.btn.btn-primary.light {
    background: #556b2f;
    border-color: #556b2f;
    border-radius: 0;
    color: #ffffff;
    padding: 16px 0;
    margin: 17px 0;
    font-size: 16px;
    border-radius: 5px;
}

.payment-final {
    padding: 0;
    margin-top: 20px;
}

.coupen {
    padding: 10px 20px 10px 25px;
    border: 1px solid #ddd;
    margin: 20px 0 0 23px;
    border-radius: 3px;
    background: #ffff;
    /* display: none; */
}

.coupen h4 {
    font-size: 15px;
    /* border-bottom: 2px solid #ddd; */
    padding-bottom: 15px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.coupen .btn {
    display: block;
    padding: 11px;
    margin-top: 20px;
}

.coupen input {
    /* text-align: center; */
    padding: 15px !important;
    width: 100% !important;
    border: 1px solid #ececec !important;
    height: 44px !important;
}

.table {
    border: 1px solid #eee;
}

.cart .btn {
    display: inline-block !important;
}

.ordered-food-item .item-thumbnail img {
    max-width: 75px;
}

.ordered-food-item .value-button {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    background: #f7f7f7;
    line-height: 35px;
    margin: 0px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ececec;
}

.ordered-food-item input {
    height: 35px;
    margin: 0 -2px;
    text-align: center;
    width: 74px;
    border-left: none;
    border-right: none;
    border: 1px solid #ececec;
    vertical-align: middle;
}

.ordered-food-item #decrease {
    margin-right: -3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ordered-food-item #increase {
    margin-left: -3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table td,
.table th {
    border-top: 1px solid #fafafa;
}

.ordered-food-item .item-name {
    font-weight: bold;
}

.wishlist .btn.btn-outline {
    font-size: 14px;
    border: 1px solid #b07946;
    border-radius: 300px;
    color: #b07946;
}

.wishlist .btn-primary {
    font-size: 13px;
    border-radius: 300px;
    padding: 7px 20px;
    background: #556b2f;
    border: 1px solid #556b2f;
}

a.remove-item {
    font-weight: bold;
    color: #666666;
    font-size: 22px;
    width: 35px !important;
    height: 35px;
    display: block;
    border-radius: 50%;
    border: 1px solid #fafafa;
    background: #ffffff;
    text-decoration: none;
}

.remove-item:hover,
.remove-item:active {
    color: #ffffff;
    width: 35px !important;
    height: 35px;
    background: #666666;
}

/* MODAL  */
/* MODAL */
.modal-backdrop.show {
    opacity: 0.5;
    z-index: 100;
}

.cart-modal {
    background: #00000014;
}

/* --===== modal css --====== */

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    /* letter-spacing: 2px; */
    font-weight: bold;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 410px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background: #f0f0ef;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 25px 80px;
    background: #fff;
}

/*Left*/

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/

.custom-modal.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */

.custom-modal .modal-content {
    border-radius: 0;
    border: none;
}

.custom-modal .modal-header {
    border-bottom-color: #fdfdfd;
    background-color: #151618;
    border-radius: 0;
    color: #ffffff;
}

/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #ffffff;
}

.btn-demo:focus {
    outline: 0;
}

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

.demo-footer > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.food-order-item.row {
    background: #fafafa;
}

.custom-modal h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.custom-modal p {
    font-size: 14px;
    margin: 0 0 8px 0px;
    color: #888;
}

.quantity-price {
    color: #b07946 !important;
    font-weight: 500;
}

.modal.right .price {
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    color: #70bd48;
    margin-top: 10px;
}

.food-order-item {
    font-family: arial;
    background: #fff;
    padding: 0px 25px 16px;
    margin-bottom: 10px;
}

.product-row {
    background: #fff;
    padding: 15px 0;
    margin-bottom: 10px;
    /* box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05); */
    border-bottom: 1px solid #fafafa;
}

.cart-modal .product-price h4 {
    font-size: 17px;
}

.cart-modal .product-price .remove {
    color: #c5c5c5;
    font-size: 19px;
    border: 1px solid #eee;
    width: 35px;
    height: 50px;
    padding: 0;
    border-radius: 20px;
}

.cart-modal .control-btn .value-button {
    display: table-cell;
    width: 35px;
    background: transparent;
    text-align: center;
    color: #000;
    font-weight: bold;
    border: 1px solid #eee;
    cursor: pointer;
}

.cart-modal .control-btn input {
    display: inline;
    width: 70px;
    text-align: center;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
}

.cart-modal .control-btn form {
    display: table;
}

.modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;
}

.modal-footer button {
    display: block;
    width: 100%;
    padding: 14px 0;
    background: #faf174;
    border-color: #faf174;
    color: #222;
    font-size: 18px;
    font-weight: bold;
}

.modal-footer .btn-cart {
    background: #b07946;
    border-color: #b07946;
    color: #fff;
    padding: 12px 45px;
    border-radius: 5px !important;
}

.modal-footer .btn-checkout {
    background: #556b2f;
    color: #fff;
    border-color: #556b2f;
    padding: 12px 45px;
}

.cart-modal .close {
    opacity: 1;
    box-shadow: none;
    text-shadow: none;
    margin-right: 3px;
    color: #ffffff;
    font-size: 31px;
    font-weight: lighter;
    background: none;
    border: none;
}

/* PROFILE BANNER */
.profile-banner {
    background: url(../../public/assets/images/coffee-bg.png) repeat-x;
}

.profile-content {
    background: #fff;
    position: relative;
    top: 90px;
    padding: 30px;
    box-shadow: 0 2px 3px #dfdfe5;
    border-radius: 8px;
}

.profile-content .user-img img {
    border-radius: 50%;
    border: 4px solid #b079463d;
}

.profile-content .details h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-content .details i {
    color: #b07946;
}

.details span {
    display: inline-block;
    width: 49%;
    margin-bottom: 6px;
    font-size: 14px;
}

.total-coffee {
    border-left: 1px solid #eee;
}

.total-coffee h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.total-coffee p {
    font-size: 14px;
    color: #ff9017;
}

.total-coffee .coffeees {
    margin-top: 20px;
}

.total-coffee .coffeees i {
    width: 50px;
    height: 40px;
    border: 1px solid #b1a795;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #b5a892;
}

.total-coffee .coffeees .selected {
    background: #b07946;
    color: #fff;
    border-color: #a7713f;
}

section.profile-content-details {
    min-height: 500px;
    background: #fffcf7;
}

.coffeees img {
    width: 42px;
}

/* CHECKOUT */
/* TERMS  */
/* TERMS AND INNER PAGES */
.terms {
    padding: 50px 0;
    background: #fdfdfd;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.terms h1 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
}

.term-content {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

/* CART PROGRESS BAR */
.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #fafafa !important;
    padding: 0 0 35px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #00a63f;
    top: 49px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: " ";
    width: 14px;
    height: 14px;
    background: #00a63f;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: green;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

/*END Form Wizard*/

/* CHECKOUT FORM */
.checkout-form {
    padding-top: 50px;
}

.checkout-form h4 {
    font-size: 15px;
    margin-bottom: 0;
}

.orderd-items h3 {
    font-size: 14px;
    margin-bottom: 4px;
    color: #888;
    font-weight: normal;
}

.orderd-items p {
    margin-bottom: 6px;
    color: #888;
}

.orderd-items .price {
    color: #000000 !important;
    font-weight: bold;
    font-size: 14px;
}

.orderd-items .quantity {
    color: #000000 !important;
    font-weight: normal;
    font-size: 14px;
}

.orderd-item-lists {
    max-height: 335px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    margin-bottom: 20px;
    background: #fdfdfd;
    padding: 20px;
    border: 1px solid #f4f4f4;
}

.cart-payment .coupen {
    border-radius: 0;
    border: none;
    margin-bottom: 15px;
    padding: 0;
}

.cart-payment .coupen input {
    font-size: 14px;
    font-weight: 500;
    width: 337px !important;
    display: inline;
    vertical-align: middle;
    height: 53px !important;
    margin-right: 5px;
}

.cart-payment .cart-totals-row {
    /* border: none; */
}

.cart-payment .cart-totals-row h3 {
    font-size: 14px;
}

.cart-payment .cart-totals-row h4 {
    font-size: 16px;
    color: #555;
    font-weight: normal;
}

.checkout-bg {
    /* background-attachment: fixed; */
}
.checkout-bg .checkout-form {
    padding: 0;
}
.cart-totals-result {
    margin-top: 0;
    text-align: center;
}

.checkout-form .title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.checkout-btn {
    margin-top: 45px;
}

.checkout-btn .btn {
    display: block;
    padding: 15px 0;
}

.shipping-information {
    border: 1px solid #f4f4f4;
    background: #fdfdfd;
    margin-bottom: 25px;
    padding: 25px !important;
}

.shipping-information .form-group {
    margin: 16px 0;
}

.shipping-information .form-group input {
    font-weight: 500;
    font-size: 14px;
    height: 45px;
}
.shipping-information .btn {
    display: block;
    width: 100%;
}

.orderd-item-lists .product-details {
    /* padding-top: 15px; */
}

.orderd-item-lists .product-row {
    padding: 10px 5px;
}
.product-row .product-details a {
    display: block;
    color: #000;
}

.product-row .product-details span {
    font-size: 14px;
}

.product-row .product-details .quantity {
    font-size: 13px;
    font-weight: bold;
    color: black;
}
.cart-payment .coupen .btn {
    vertical-align: middle;
    display: inline;
    padding: 16px 21px !important;
}

.orderd-items .price {
    color: #000000 !important;
    font-weight: bold;
    font-size: 14px;
}

/* CHECKBOX */
.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #797979;
    font-size: 14px;
}

.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #00a63f;
    border-radius: 3px;
}

.styled-checkbox:hover + label:before {
    background: #00a63f;
}

.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #00a63f;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
        4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.back-to-shop {
    padding-top: 35px;
    text-align: right;
}

.back-to-shop a {
    color: #556b2f;
    font-weight: 500;
    display: block;
    text-align: right;
    border-top: 1px solid #eee;
    padding: 20px 0;
}

a.change-info {
    font-size: 14px;
    color: #f30000;
    margin-left: 5px;
    display: block;
    text-align: right;
}

.shippig-method .cart-totals-row {
    padding: 0;
}

.checkout-form .coupen {
    display: block;
    margin: 0;
}

/* WIHSLIST */
.wishlist .btn-primary {
    font-size: 14px;
    border-radius: 300px;
    padding: 7px 20px;
}

.wishlist .btn.btn-outline {
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 300px;
}

/* CART  */
.ordered-food-item {
    font-family: "Roboto", sans-serif;
}

/* PRODUCT CONFIRM */
.product-confirm {
    font-family: "Roboto", sans-serif;
    padding: 50px 0;
    background: #fdfdfd;
    min-height: 100vh;
}
.product-card {
    background: #fff;
    box-shadow: 0 2px 3px #eff0f7;
    border-radius: 8px;
}
.product-card .image {
    max-height: 165px;
}

.product-card p {
    min-height: auto;
    margin: 0;
    font-weight: bold;
}
.product-form {
    background: #fff;
    box-shadow: 0 2px 3px #eff0f7;
    border-radius: 8px;
    padding: 20px;
}
.product-form .total-submit {
    margin-top: 30px;
}
.product-form label {
    font-weight: bold;
    font-size: 15px;
}

/* MOBILE CARD */
.mobile-cart{
    display:none;
}